#!/bin/bash


echo "Checking for apt locks..."
while sudo fuser /var/lib/dpkg/lock >/dev/null 2>&1 || sudo fuser /var/lib/apt/lists/lock >/dev/null 2>&1 || sudo fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
  echo "Waiting for other software managers to finish..."
  sleep 5
done

echo "Apt is free. Proceeding..."

# 1. Update and install packages
apt-get update
apt-get install -y nginx git
sudo gsutil cp gs://hsrm2023/hsrm.html /var/www/html/index.html

# 3. Restart nginx
systemctl restart nginx