<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/hf.css" />
    </head>
    <h1>Demo Webapp V2.1</h1>
    <h2>Hostsystem: {{the_host}}</h2>
    <h2>Sytem: {{the_sysname}}</h2> 
    <h2>Das ist eine dynamische Website!</h2> 

        <iframe width="560" height="315" src="https://www.youtube.com/embed/O5HQ1sZseKg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  
</html>
